<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Signup Page</title>
    <link rel="stylesheet" type="text/css" href="/css/add.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
<div class="container">
    <h1>Signup</h1>
    <form method="post" action="/member/add" id="myForm">
        <div class="form-group">
            <label for="아이디"><b>아이디</b></label>
            <div class="field">
                <input type="text" name="loginId" id="loginId" required>
                <button type="button" id="check_duplicate" class="field-button" onclick="checkDuplicate()">중복 체크</button>
            </div>
            <div class="username-check-message"></div>
        </div>
        <div class="form-group">
            <label for="패스워드"><b>패스워드</b></label>
            <input type="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="패스워드 재입력"><b>패스워드 재입력</b></label>
            <input type="password" name="confirmPassword" id="confirmPassword" required>
        </div>
        <div class="form-group">
            <label for="memberName"><b>성명</b></label>
            <input type="text" name="memberName" id="memberName" required>
        </div>
        <div class="form-group">
            <label for="이미지"><b>이미지</b></label>
            <div class="field">
                <input type="text" name="imageFileName" id="imageFileName" readonly="readonly">
                <input type="text" name="attachFileId" id="attachFileId" style="display: none">
                <input type="text" name="filePath" id="filePath" style="display: none">
                <button type="button" id="uploadBtn" onclick="imageUploadPopup()" class="field-button">이미지 업로드</button>
            </div>
        </div>
        <div class="form-group">
            <img alt="Preview" id="previewImage" style="display: none; max-width: 300px; max-height: 300px;">
            <div id="noImage" style="display: none;">이미지가 없습니다.</div>
        </div>
        <div class="form-group">
            <label for="birthday"><b>생년월일</b></label>
            <input type="date" name="birthday" id="birthday" required>
        </div>
        <div class="form-group">
            <label for="email"><b>이메일</b></label>
            <input type="email" name="email" id="email" required>
        </div>
        <div class="form-group">
            <label for="email"><b>핸드폰 번호</b></label>
            <input type="text" name="phoneNumber"  id="phoneNumber" required>
        </div>
        <div class="form-group">
            <label for="schoolName"><b>최종학력</b></label>
            <div style="display: flex">
                <input type="text" name="schoolName" id="schoolName" required>
                <button class="search-button" id="school_search" onclick="schoolSearch()" type="button">
                    <img src="/image/search_icon.png" alt="Search">
                </button>
            </div>
        </div>
        <div class="clearfix">
            <button type="submit" id="signup" class="signupbtn" style="width: 100%">Signup</button>
        </div>
    </form>
</div>
<script src="/js/common.js"></script>
<script src="/js/add.js"></script>
</body>
</html>