<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>save Page</title>
    <link rel="stylesheet" type="text/css" href="/css/edit.css">
</head>
<body>
<div class="container">
    <h1>save</h1>
    <form method="post" action="/member/edit" id="myForm">
        <div class="form-group">
            <label for="memberName"><b>성명</b></label>
            <input type="text" name="memberName" id="memberName" required th:value="${member.memberName}">
            <input type="hidden" name="memberId" id="memberId" required th:value="${member.id}">
        </div>
        <div class="form-group">
            <label for="photoFile"><b>사진</b></label>
            <input type="file" name="file" id="file" style="display: none">
            <div class="file-upload">
                <input type="text" name="fileName" id="fileName" th:value="${member.imageFile?.fileName}" readonly="readonly">
                <button type="button" id="fileChangeBtn" class="file-change-button" th:if="${member.imageFile != null}" onclick="document.getElementById('file').click();">파일 변경</button>
                <button type="button" id="fileUploadBtn" class="file-change-button" th:unless="${member.imageFile != null}" onclick="document.getElementById('file').click();">파일 등록</button>
            </div>
            <img id="viewImage" style="width: 100%;">
        </div>
        <div class="form-group">
            <label for="birthday"><b>생년월일</b></label>
            <input type="date" name="birthday" id="birthday" required th:value="${member.birthday}">
        </div>
        <div class="form-group">
            <label for="email"><b>이메일</b></label>
            <input type="email" name="email" id="email" required th:value="${member.email}" readonly>
        </div>
        <div class="form-group">
            <label for="email"><b>핸드폰 번호</b></label>
            <input type="text" name="phoneNumber"  id="phoneNumber" required th:value="${member.phoneNumber}">
        </div>
        <div class="form-group">
            <label for="schoolName"><b>최종학력</b></label>
            <div style="display: flex">
                <input type="text" name="schoolName" id="schoolName" required th:value="${member.schoolName}" readonly="readonly">
                <button class="search-button" id="school_search" onclick="schoolSearch()" type="button">
                    <img src="/image/search_icon.png" alt="Search">
                </button>
            </div>
        </div>
        <div class="clearfix">
            <button type="submit" id="save" class="savebtn">save</button>
        </div>
    </form>
</div>
<script src="/js/edit.js">
</script>
</body>
</html>