.input-wrap {
    display: flex;
    align-items: center;
    border: 3px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

.input-wrap label {
    margin-right: 10px;
    margin-bottom: inherit;
    font-size: 16px;
    height: 32px;
    line-height: 17px;
    display: flex;
    align-items: center;
}

.input-wrap input[type=text] {
    width: 200px;
    height: 32px;
    font-size: 16px;
    padding: 6px;
    box-sizing: border-box;
    display: block;
}

.input-wrap button {
    height: 32px;
    font-size: 16px;
    width: 80px;
    padding: 6px;
    box-sizing: border-box;
    line-height: 20px;
    border: none;
    background-color: #4CAF50;
    margin-bottom: auto;
    color: white;
    display: inline-block; /* 수정된 부분 */
    margin-left: auto;
    margin-right: 10px; /* 수정된 부분 */
}

.input-wrap select {
    height: 32px;
    font-size: 16px;
    padding: 6px;
    box-sizing: border-box;
    display: block;
    margin-right: 10px;
    width: 120px;
    margin-bottom: 20px;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
    height: 32px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

label, input[type="text"] {
    display: block;
    box-sizing: border-box;
}

.selected {
    background-color: yellow;
}

.input-wrap > button:first-of-type {
    margin-right: 10px;
}