<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>학교 검색</title>
    <link rel="stylesheet" type="text/css" href="/css/school-search.css">
</head>
<body>
<h1>학교 검색</h1>
<div class="input-wrap">
    <label for="schoolType">학교 구분 : </label>
    <select id="schoolType" name="schoolType">
        <option value="elem_list">초등학교</option>
        <option value="midd_list">중학교</option>
        <option value="high_list">고등학교</option>
        <option value="univ_list">대학교</option>
        <option value="seet_list">특수학교</option>
    </select>
    <label for="schoolName">학교명 : </label>
    <input type="text" id="schoolName" name="schoolName">
    <div style="margin-left: auto; margin-bottom: 20px;">
    <button type="button" id="searchButton">조회</button>
    <button type="button" id="confirmButton" onclick="confirm()">확인</button>
    </div>
</div>
<table>
    <thead>
    <tr>
        <th>학교명</th>
        <th>구분</th>
        <th>본/분교</th>
        <th>학교위치</th>
    </tr>
    </thead>
    <tbody id="schoolList">
    <!-- 여기에 검색 결과가 동적으로 추가됩니다. -->
    </tbody>
</table>
<script src="/js/school-search.js">
</script>
</body>
</html>
